<footer>
    <h1>Sistema Academico Literário Valoriza Educação - Salve!</h1><hr>
    <p>O Sistema Educacional Valoriza Educação - Salve, faz parte de uma série de serviços prestados pela Salve! Ltda. empresa de prestação de serviços e consultoria técnica em sistemas da informação.</p><hr>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Informações legais</a>
  </footer>