<footer>
    <h1>Sistema Academico Literário Valoriza Educação - Salve!</h1><hr>
    <p>O Sistema Educacional Valoriza Educação - Salve, faz parte de uma série de serviços prestados pela Salve! Ltda. empresa de prestação de serviços e consultoria técnica em sistemas da informação.</p><hr>
  </footer>