<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A set of horizontal menus that switch to vertical and which hide at small window widths.">
    <title>Salve!</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/css_adm.css">
</head>
<body>
    <body>

        <div class="custom-wrapper pure-g" id="menu">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu">
                    <a href="#" class="pure-menu-heading custom-brand">Salve!</a>
                    <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu custom-can-transform pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Sair</a></li>
                        <li class="pure-menu-item"><a href="/historico" class="pure-menu-link">Histórico</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu custom-menu-3 custom-can-transform pure-menu-horizontal">
                    
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">{{user.fullname}}</li>
                        <li class="pure-menu-item"><img id = "pfp" src="{{user.imagemLink}}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="main pure-g">
                <div id= "meuId" class="pure-u-1-1 pure-u-md-4-24 barralateral pure-g">
                    {{#adm}}
                    <a href="add"><summary href="add" class="btn btn-primary w-100 mb-3" >Adcionar Livros</summary></a>
                    <a href="admbaixa"><summary href="admbaixa" class="btn btn-primary w-100 mb-3" >Gerenciar Emprestimos</summary></a>
                {{/adm}}
                {{#categoria}}
                            <details>
                            
                            <summary class="btn btn-primary w-100 mb-3" >{{this.nome}}</summary>
                            <ul>
                                {{#this.subcategorias}}
                                    <li><label> <input type="checkbox" onchange="pegaTodosOsCheckbox()" name="{{this.id}}" onchange="pegaTodosOsCheckbox()"> {{this.nome}} </label></input></li>
                                {{/this.subcategorias}}
                            </ul>
                            </details>
                {{/categoria}}
                </div>
                  <div id="panelLivros" class="pure-g pure-u-1-1 pure-u-md-20-24  principal">
                    {{#livros}}
                    <div class="pure-u-sm-1-24"></div>
                    <div class="pure-u-1-1 pure-u-sm-10-24 pure-u-md-6-24 pure-u-lg-4-24 pure-g">
                        <h1 class ="seletor" title="{{this.nome}}">{{this.nome}}</h1>
                        <img class="pure-u-1-1" src="{{this.imagemLink}}" alt="Livro sobre Introdução a python">
                
                        <p>{{this.quantidadeDisponivel}} livros disponíveis!</p>
                    </div>
                    <div class="pure-u-sm-1-24"></div>
                    {{/livros}}


                </div>
        </div>
        </div>
        <script src="js/js.js"></script>
         <!-- Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/PesquisaFormLivrosPagInicial.js"  charset="UTF-8"></script>
        <footer id="footer">

            <h1>Sistema Educacional Valoriza Educação - Salve!</h1><hr>
            <p>O Sistema Educacional Valoriza Educação - Salve, faz parte de uma série de serviços prestados pela Salve! Ltda. empresa de prestação de serviços e consultoria técnica em sistemas da informação.</p><hr>
            <!-- <tr id="footer_dentro">
                <th> Teste da rede social</th>
                <th> Teste da rede social</th>
                <th> Teste da rede social</th>
            </tr>-->
            <a id="footer_dentro" href="#">Inicio.</a>
            <a id="footer_dentro" href="#">Sobre.</a>
            <a id="footer_dentro" href="#">Blog.</a>
            <a id="footer_dentro" href="../documentacao/documentacao_prime.html">Informações Legais.</a>
        </footer>
        </body>
</body>
</html>