<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A set of horizontal menus that switch to vertical and which hide at small window widths.">
    <title>Salve!</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <body>

        <div class="custom-wrapper pure-g" id="menu">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu">
                    <a href="#" class="pure-menu-heading custom-brand">Salve!</a>
                    <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu custom-can-transform pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Sair</a></li>
                        <li class="pure-menu-item"><a href="historico" class="pure-menu-link">Histórico</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu custom-menu-3 custom-can-transform pure-menu-horizontal">
                    
                    <ul class="pure-menu-list">
                        <li class = "pure-menu-item">{{user.fullname}}</li>
                        <li class="pure-menu-item"><img id = "pfp" src="{{user.imagemLink}}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="main pure-g">
               <div class="pure-u-1-1 pure-u-md-4-24 barralateral pure-g">
                    <details class="pure-u-1-1" open="">
                    <summary class="pure-button sm-bt corrigeLixo">Filtro</summary>
                    <form class="pure-u-1-1" method="GET">
                        
                        {{#categoria}}
                            <details class="pure-u-1-1 ">
                            <summary class="pure-button pure-u-1-1 sm-bt" >{{this.nome}}</summary>
                            <ul>
                                {{#this.subcategorias}}
                                    <li><label> <input type="checkbox" name="{{this.id}}" id=""> {{this.nome}} </label></input></li>
                                {{/this.subcategorias}}
                            </ul>
                            </details>
                        {{/categoria}}
                        <button class="pure-button pure-button-primary pure-u-1-1">Buscar</button>
                    </form>
                </details>
                </div>
                <div class="pure-g pure-u-1-1 pure-u-md-20-24  principal">
                    {{#livros}}
                        <div class="pure-u-sm-1-24"></div>
                        <div class="pure-u-1-1 pure-u-sm-10-24 pure-u-md-6-24 pure-u-lg-4-24 pure-g">
                            <h1 class ="pure-u-1-1">{{this.nome}}</h1>
                            <img class="pure-u-1-1" src="{{this.imagemLink}}" alt="">
                            <p>livros.descricao</p><hr>
                            <p>{{this.quantidadeDisponivel}} livros disponíveis para emprestimo!</p>
                        </div>
                        <div class="pure-u-sm-1-24"></div>
                    {{/livros}}
                    
                </div>
        </div>
        <script src="js/js.js"></script>
        <footer id="footer">
            <h1>Sistema Educacional Valoriza Educação - Salve!</h1><hr>
            <p>O Sistema Educacional Valoriza Educação - Salve, faz parte de uma série de serviços prestados pela Salve! Ltda. empresa de prestação de serviços e consultoria técnica em sistemas da informação.</p><hr>
            <!-- <tr id="footer_dentro">
                <th> Teste da rede social</th>
                <th> Teste da rede social</th>
                <th> Teste da rede social</th>
            </tr>-->
            <a id="footer_dentro" href="#">Inicio.</a>
            <a id="footer_dentro" href="#">Sobre.</a>
            <a id="footer_dentro" href="#">Blog.</a>
            <a id="footer_dentro" href="#">Informações Legais.</a>
        </footer>
        </body>
</body>
</html>