<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Você não existe irmão ...</h1>
    <h1>Ainda ...</h1>
    <p>Termine seu cadastro preenchendo as informações abaixo!</p>
    <form action ="/vocenaoexisteok" method="GET">
        <label for="cpf">seu cpf:<input type="number" name="cpf" id="cpf"></label><br>
        <label for="imagem">link de imagem para seu perfil:<input type="text" name ="imagemLink"></label><br>
        <input type="submit" value="Concluir Cadastro">
    </form>
</body>
</html>